<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
        
        <h1>Pokésir</h1>
        
		<!-- Search -->
		<div ng-controller="controller">
            <!-- exemple de data-binding
            <input ng-model="id">
            <h1> {{id}} </h1>
            -->
            <input ng-model="id">
            <br/>
            <br/>
            <input ng-model="name">
            <br/>
            <br/>
            <select ng-model="selection">
                <option ng-repeat="indice in listePokemon | orderBy: 'id' | filter: name | filter: id"> {{indice.id}} - {{indice.name}} </option>
            </select>
            <!-- bouton jaune : team instinct ! -->
            <button class="btn btn-warning" ng-click="choix()"> Go ! </button>
           <!--affichage choix-->
		   <br/><br/>
           {{choixDresseur}}
        </div>

		<!-- Pokémon information -->
		<div ng-controller="informations">
			<!-- Le nom -->
			<h1>{{nom}}</h1>
			
			<p>{{description}}</p>
			
			<!-- Les habilités -->
			<table class="table table-responsive table-striped table-hover">
				<tr>
					<th>Habilités</th>
				</tr>
				
				<tr ng-repeat="h in habilites">
					<td>{{h}}</td>
				</tr>
			</table>
			
			<!-- Les types -->
			<table class="table table-responsive table-striped table-hover">
				<tr>
					<th>Types</th>
				</tr>
				
				<tr ng-repeat="t in types">
					<td>{{t}}</td>
				</tr>
			</table>
			
			<!-- Les attaques -->
			<table class="table table-responsive table-striped table-hover">
				<tr>
					<th>Attaques</th>
				</tr>
				
				<tr ng-repeat="a in attaques">
					<td>{{a}}</td>
				</tr>
			</table>
		</div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
