<!-- Search -->
<div ng-controller="controller">
	<!-- exemple de data-binding
	<input ng-model="id">
	<h1> {{id}} </h1>
	-->
	<input ng-model="id">
	<br/>
	<br/>
	<input ng-model="name">
	<br/>
	<br/>
	<select ng-model="selection">
		<option ng-repeat="indice in listePokemon | orderBy: 'id' | filter: name | filter: id"> {{indice.id}} - {{indice.name}} </option>
	</select>
	<!-- bouton jaune : team instinct ! -->
	<button class="btn btn-warning" ng-click="choix()"> Go ! </button>
   <!--affichage choix
   <br/><br/>
   {{choixDresseur}}-->
</div>

<!-- Pokémon information -->
<div ng-controller="informations">
	<!-- Le nom -->
	<h1>{{nom}}</h1>
	
	<img ng-src="{{image}}"/>
	
	<p>{{description}}</p>
	
	<!-- Les habilités -->
	<table class="table table-responsive table-bordered table-hover">
		<tr>
			<th>Habilités</th>
		</tr>
		
		<tr ng-repeat="h in habilites">
			<td>{{h}}</td>
		</tr>
	</table>
	
	<!-- Les types -->
	<table class="table table-responsive table-bordered table-hover">
		<tr>
			<th>Types</th>
		</tr>
		
		<tr ng-repeat="t in types">
			<td>{{t}}</td>
		</tr>
	</table>
	
	<!-- Les attaques -->
	<table class="table table-responsive table-bordered table-hover">
		<tr>
			<th>Attaques</th>
		</tr>
		
		<tr ng-repeat="a in attaques">
			<td>{{a}}</td>
		</tr>
	</table>
</div>